{{#partial "content"}}

    <h1> List o' stuff to do!</h1>

    {{#if sightings}}
        {{#each sightings }}
            <p><a href="/animals/{{animalId}}/sightings/{{id}}">{{name}}</a></p>
        {{/each}}
    {{else}}
     <p>No sightings!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}